name: Pi Test

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: test secondary test file
        run: echo "hello world"
